<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Recipes</title>
  <link rel="stylesheet" href="/css/show.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=MonteCarlo&family=Nunito:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
</head>

<body>
  <%- include('../partials/navbar') %>
    <h1 id="header">Show All Recipes</h1>
    <% recipe.forEach(function(m) { %>
      <hr>
      <div id="recipe container">
        <h3 class="recipe-title">
          <%= m.recipeName %>
        </h3>
        <div id="recipe-info-container">
          <div class="recipe-info-box recipe-info-ingred">
            <h4>Ingredients:</h4>
            <ul>
              <% m.ingredients.forEach(function(ingred) { %>
                <li>
                  <%= ingred %>
                </li>
                <% }); %>
            </ul>
          </div>
          <div class="delete-button">
            <form action="/recipes/<%= m._id %>?_method=DELETE" method="POST" class="form">
              <button type="submit">Delete</button>
            </form>
          </div>
          <div class="recipe-info-box recipe-info-steps">
            <h4>Steps:</h4>
            <ol>
              <% m.steps.forEach(function(step) { %>
                <li>
                  <%= step %>
                </li>
                <% }); %>
            </ol>
          </div>
          <div class="update-button">
            <form action="/recipes/<%= m._id %>" method="GET" class="form">
              <button type="submit">Update</button>
            </form>
          </div>
        </div>
      </div>
      <% }); %>


</body>

</html>